body {
    background-color: #D3E9FF;
    font-family: "Sour Gummy", sans-serif;
    max-width: 80em;
    margin: auto;
}

h1 {
    color: #FA71B8;
    text-align: center;
}

a {
    color: #0080FF;
}

div {
    text-align: left;
    font-size: 1.5em;
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 300px;
}

.img {
    width: 300px;
    margin: auto;
}