table {
    border-style: double;
    border-color: rgb(170, 5, 211) ;
    border-collapse: collapse;
    text-align: center;
}

th {
    background-color: lightblue;
}

th,td  {
    border: 1px solid black;
    padding: 5px;;
}

caption {
    color: rgb(170, 5, 211);
    font-weight: 600;
    margin-bottom: 5px;
}