div,p  {
    width: 200px;
    height: 200px;
    border : medium solid black;
    margin: 20px;
    
}

.degrade1 {
    background:linear-gradient(to bottom left, red, green, blue);
}

.degrade2 {
    background: linear-gradient(-70deg, yellow, purple 25%);
}

p {
    background: linear-gradient(white, rgb(0,0,0,50%)); 
}

.degrade3 {
    background: radial-gradient(rgb(138, 207, 224), rgb(238, 177, 238));
}

.degrade4 {
    background: repeating-radial-gradient(rgb(0, 0, 0), rgb(255, 255, 255) 10px);
}

.degrade4:hover {
         background: repeating-radial-gradient(rgb(255, 255, 255), rgb(0, 0, 0) 10px);
}

