body {
    background-color: blueviolet;
}

.principale {
    margin: 50px;
    background-color: blue;
    box-shadow: -10px -10px 10px white;

}

.test {
    padding: 50px;
    box-shadow: 10px 10px 10px black;
}