body {
    font-family: 'Roboto', sans-serif;
    color: #3c02b0;
    background-color: #f3defc;
}

a {
   padding: 10em;
}

h1 {
    color: #9c02b0;
    margin: 1em;
}

h2 {
    color: #9c02b0;
}

strong {
    color: #cb7af0;
}

em {
    color: #cb7af0;
}